# Server Configuration
server:
  address: "0.0.0.0"
  port: 44113

# Log Files to Monitor
log_paths: 
  - "test1.log"
  - "test2.log"
  - "/var/log/logminer/logs/crontest.log"

# TLS Credentials
credentials: 
  path: "path/to/creds"

# AWS Configuration (Example)
aws:
  kinesis:
    stream_name: "your_stream_name"
  s3:
    bucket_name: "your_bucket_name"
    organize_by:
      timestamp: true
      stream_name: false

# Logging Configuration
logging:
  level: "INFO"
  output: "console" # Options: console, file
  file_path: "optional/path/for/file/output.log" # Required if output is file
