# using a toml config would be better. For now, adding opensearch and dynamodb info
# here. Will patch code next week. today's date: 02/07/24 ep.

# Path to log file:
log_paths test1.log test2.log /var/log/logminer/logs/crontest.log

# Destinations to send the logs.
destination_service dynamodb opensearch 

# Dynamodb table
dynamo_table_name eptesttable

# Opensearch stream name
delivery_stream KDS-OPS-UMQ2c
